<body background="space.jpg" style="background-repeat:no-repeat;background-attachment:fixed;" >
 <a href="https://week2-wnsprnwnsp.c9users.io/"><h1 style="color:white;"><bold>SIN</bold></h1></a>
<hr>

<div style="margin-top:80px;margin-bottom:50px;width:600px;height:620px;background-color:lightgray;" class="container" >

<form action="/write" method="POST">
   <p style="font-size:65px; text-align:center" ><strong>신이 나를 만들 때</strong></p>
    <center><%=image_tag "sin.jpg" %></center><br><br>
  
  <div class="form-group" style="color:white;padding:5px;">
   <!-- <left><label for="exampleInputname">이름을 입력하시오</label></left>-->
   <input type="text" class="form-control" name="title" id="exampleInputname" placeholder="너의 이름은">
  </div>
  <center><button type="submit" class="btn btn-default">제출</button></a></center>
  <br><br><br><br>
  <p style="font-size:8px;color:gray;text-align:center;">입력하신 정보는 본 퀴즈 이외의 용도로 사용하지 않습니다.</p>

</form>
</body>