<a href="https://week2-wnsprnwnsp.c9users.io/"><h1 style="color:pink;font-family:cursive"><bold>SIN</bold></h1></a>
<hr style="color:black;">
<div style="margin-top:80px;margin-bottom:50px;width:700px;height:400px;background-color:lightpink;" class="container" >
<p style="font-size:35px; text-align:center" ><strong>신이 <%=@title %>님을(를) 만들 때</strong></p><br>
  <div style = "text-align : center">
        <div class = "col-md-4" style = "font-size: 15px">
            <b><%= @first %></b>
            을 넣고
        </div>
          <div class = "col-md-4" style = "font-size: 15px">
            <b><%= @second %></b>은(는)<BR>조금.. 
        </div>
          <div class = "col-md-4" style = "font-size: 15px">
            <b><%= @third %></b>...?<BR><BR>
        </div>

<center><div style = "text-align : center">
        <div class = "col-md-4">
            <img src="first.png"/>
        </div>
        <div class = "col-md-4">
            <img src="second.png"/>
        </div>
        <div class = "col-md-4">
            <img src="third.png"/>
        </div>
    </div><center>
        
  </div>
  