<a href="https://week2-wnsprnwnsp.c9users.io/"><h1 style="color:pink;font-family:cursive"><bold>SIN</bold></h1></a>
<hr style="color:black;">
<div style="margin-top:80px;margin-bottom:50px;width:600px;height:400px;background-color:lightpink;" class="container" >
<p style="font-size:35px; text-align:center" ><strong>신이 <%=@title %>님을(를) 만들 때</strong></p><br>
<center><img src="sin2.png"/><br><br><br>
<center><a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=685543434893182&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv2.7%2Fdialog%2Fshare%3Fredirect_uri%3Dhttp%253A%252F%252Fstaticxx.facebook.com%252Fconnect%252Fxd_arbiter%252Fr%252F1FegrZjPbq3.js%253Fversion%253D42%2523cb%253Dfa9b123aa5dbc%2526domain%253Dkr.vonvon.me%2526origin%253Dhttp%25253A%25252F%25252Fkr.vonvon.me%25252Ff1aa60d76ae116%2526relation%253Dopener%2526frame%253Df13880dc036e7b%2526result%253D%252522xxRESULTTOKENxx%252522%26display%3Dpopup%26href%3Dhttp%253A%252F%252Fn-h86.kr.vonvon.me%252Fquiz%252F329%253Futm_campaign%253Dshare%2526utm_source%253Dfacebook%2526utm_medium%253Dorganic%2526share_ts%253Donw56g%2526method%253Dshare%26hashtag%3D%2523vonvon%26client_id%3D685543434893182%26ret%3Dlogin%26sdk%3Djoey&cancel_url=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F1FegrZjPbq3.js%3Fversion%3D42%23cb%3Dfa9b123aa5dbc%26domain%3Dkr.vonvon.me%26origin%3Dhttp%253A%252F%252Fkr.vonvon.me%252Ff1aa60d76ae116%26relation%3Dopener%26frame%3Df13880dc036e7b%26result%3D%257B%2522error_code%2522%253A4201%252C%2522error_message%2522%253A%2522User%2Bcanceled%2Bthe%2BDialog%2Bflow%2522%257D%26error_code%3D4201%26error_message%3DUser%2Bcanceled%2Bthe%2BDialog%2Bflow%26e2e%3D%257B%257D&display=popup&locale=ko_KR">
    <img src="facebooklogo.png"/></a></center>

</div>

